<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/store.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>NoneQ Stores</title>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-light sticky-top border-bottom bg-dark">
            <div class="container-fluid">
                    <div :class="center" @click="outStore">
                        <img src="image/Logo.png" style="max-height:7.5vh; width: auto; border-radius: 50%;">
                    </div>
                    <template v-if="loginstatus==true">
                        <div class="d-flex" :class="center" @click="goProfile">
                            <a class="bi bi-person text-light mx-3" style="font-size: 2rem;"></a>
                            <div class=' fw-bold fs-8 mx-1 text-white' :class="center">{{loginacct}}</div>
                            <button type="button" class="btn btn-danger btn-sm mx-2" @click.stop="logout">Logout</button>
                        </div>
                    </template>
                    <template v-else>
                        <div class="d-flex" :class="center" @click="goLogin">
                            <a class="bi bi-person text-light mx-3" style="font-size: 2rem;"></a>
                            <div class=' fw-bold fs-8 mx-1 text-white' :class="center">เข้าสู่ระบบ/ลงทะเบียน</div>
                        </div>
                    </template>
            </div>
        </nav>
        
        <div class="container is-max-desktop p-5">
            <div class="column pt-2 pl-0 pr-0" v-for="inOrder in order">
                <div class="card mb-1">
                    <div class="card-content p-0">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-96x96">
                                    <img :src="inOrder.image"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-conten  t pt-2">
                                <p class="title is-5">{{ inOrder.title }}</p>
                                <p class="has-text-grey-light is-6">{{ inOrder.brand }}</p>
                                <div style="display: flex;justify-content: space-between;">
                                    <div>
                                        <span>x {{ inOrder.quantity }}</span>
                                    </div>
                                </div>
                            </div>
                            <a class="button is-dark mt-5 mr-2" style="color: white;" @click="removeOrder(product, index)">ลบจากรายการ</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button is-dark mt-3" style="width: 100%;color: white;" @click="menuConfirm()">ยืนยันรายการอาหาร</a>
            <hr>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var app = new Vue({
    el: '#app',
    data: {
        order: [],
        shopName: "NoneQ Stores",
        open: true,
        login: false,
        showPassword: false,
        username: "",
        password: "",
        verifypassword: "",
        firstname: "",
        lastname: "",
        tel: "",
        center:{
            'd-flex': true,
            'justify-content-center':true,
            'align-items-center':true
        },
    },
    created() {
                    this.order = JSON.parse(localStorage.getItem("inOrder"));
                },
    methods: {
        outStore(){
            window.location.href = "./index.html";
        },
        enterStore(){
            if(this.open == true){
                window.location.href = "./instore.html";
            }
            else{
                alert("ขออภัยในขณะนี้ ร้านปิดให้บริการอยู่")
            }
        },
        goLogin(){
            const myJSON = JSON.stringify(this.accounts);
            window.localStorage.setItem('accounts', myJSON);
            window.location.href = "./login.html";
        },
        logout(){
            window.localStorage.setItem('username', "");
            window.localStorage.setItem('loginstatus', false);
            window.location.href = "./login.html";
        },
        loginCheck(){
            this.accounts.forEach((account) =>{
                if(this.username == account.username && this.password == account.password){
                    return this.login = true
                }
            })
            if(this.login == true){
                alert("รหัสถูก")
            }
            else{
                alert("รหัสผิดดดด")
            }
        },
        goRegister(){
            const myJSON = JSON.stringify(this.accounts);
            window.localStorage.setItem('accounts', myJSON);
            window.location.href = "./register.html";
        },
        registerCheck(){
            this.accounts.forEach((account) =>{
                if(this.username == account.username){
                    this.username = ""
                    return alert("มีผู้ใช้งานนี้แล้ว")
                }
            })
            if(this.firstname==""||this.lastname==""||this.tel==""||this.username==""||this.password==""||this.verifypassword==""){
                alert("กรุณากรอกข้อมูลให้ครบ")
            }
            else if(this.tel.length < 10){
                alert("กรุณาเบอร์โทรศัพท์ให้ถูกต้อง")
            }
            else if(this.password != this.verifypassword){
                alert("รหัสผ่านไม่เหมือนกัน")
            }
            else if(this.password.length < 6){
                alert("กรอกรหัสผ่าน 6-20 ตัวอักษร")
            }
            else{
                this.accounts.push({
                    username: this.username,
                    password: this.password,
                    permission: "general member",
                    firstname: this.firstname,
                    lastname: this.lastname,
                    tel: this.tel,
                    checkIN: false,
                })
                alert("สมัครบัญชีสำเร็จ")
                window.localStorage.setItem('accounts', JSON.stringify(this.accounts));
                window.location.href = "./login.html";
            }

        },
        showpassword(){
            showPassword = !showPassword
        },
        goInStore(){
            window.location.href = "./instore.html";
        },
        goProfile(){
            window.location.href = "./profile.html";
        },
        menuConfirm(){
                    alert("รายการอาหารถูกสั่งเรียบร้อย")
                    alert("กรุณารอสักครู่เพื่อรอรับอาหาร")
                    window.location.href = "./instore.html";
            },
            removeOrder(item, index) {
                    this.order.splice(index, 1)
            },
    },
    computed:{
        loginacct(){
            return (localStorage.getItem('username'));
        },
        loginstatus(){
            return JSON.parse(localStorage.getItem('loginstatus'));
        },
        accounts(){
            return JSON.parse(localStorage.getItem('accounts'));
        },
        tables(){
            return JSON.parse(localStorage.getItem('tables'));
        },
        logininfo(){
                return JSON.parse(localStorage.getItem('logininfo'));
        }
    },
    watch:{
        accounts:{
            handler: function(val, oldVal) {
                window.localStorage.setItem('accounts', JSON.stringify(val));
            },
            deep: true
        },
    },
})
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>
</html>